.desktop8 {
  background-color: #fff;
  overflow: hidden;
}

.wireframesframe {

  width: 100%;
}

.div {
  background-color: #fafdff;
  width: 100%;
  padding-top: 58px;
}
@media (width<=991px) {
  .div {
    max-width: 100%;
  }
}
.div2 {
  flex-direction: column;
  align-items: stretch;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
}
@media (width<=991px) {
  .div2 {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.div3 {
  color: #000;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 40px 100px;
  width: 100%;
  max-width: 1256px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  display: flex;
}
@media (width<=991px) {
  .div3 {
    max-width: 100%;
  }
}
.paperWireframes {
  align-self: start;
  font-size: 32px;
  font-weight: 700;
}
.paperwireframesshowthescreensfromloadingscreentoorderconfirmedscreenshowcasingtheusersjourneyfromsigningintopurchasinganitem {
  flex-grow: 1;
  flex-shrink: 1;
  width: 793px;
  font-size: 24px;
  font-weight: 400;
  margin-right: 20px;
}
@media (width<=991px) {
  .paperwireframesshowthescreensfromloadingscreentoorderconfirmedscreenshowcasingtheusersjourneyfromsigningintopurchasinganitem {
    max-width: 100%;
  }
}
.div4 {
  margin-top: 43px;
  margin-right: 13px;
}
@media (width<=991px) {
  .div4 {
    max-width: 100%;
    margin-top: 40px;
    margin-right: 10px;
  }
}
.div5 {
  gap: 20px;
  display: flex;
}
@media (width<=991px) {
  .div5 {
    flex-direction: column;
    align-items: stretch;
    gap: 80px;
  }
}
.column {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 0;
  line-height: normal;
  display: flex;
}
@media (width<=991px) {
  .column {
    width: 100%;
    margin-right: 20px;
  }
}
.img {
  aspect-ratio: 1.54;
  object-fit: contain;
  object-position: center;
  border-radius: 12px;
  flex-grow: 1;
  width: 100%;
}
@media (width<=991px) {
  .img {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column2 {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 20px;
  line-height: normal;
  display: flex;
}
@media (width<=991px) {
  .column2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
  }
}
.div6 {
  background-color: #d9d9d9;
  border-radius: 12px;
  flex-grow: 1;
  width: 100%;
}
@media (width<=991px) {
  .div6 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img2 {
  aspect-ratio: 1.53;
  object-fit: contain;
  object-position: center;
  border-radius: 12px;
  width: 100%;
}
@media (width<=991px) {
  .img2 {
    max-width: 100%;
  }
}
.div7 {
  margin-top: 68px;
  margin-right: 13px;
}
@media (width<=991px) {
  .div7 {
    max-width: 100%;
    margin-top: 40px;
    margin-right: 10px;
  }
}
.div8 {
  gap: 20px;
  display: flex;
}
@media (width<=991px) {
  .div8 {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
.column3 {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 20px;
  line-height: normal;
  display: flex;
}
@media (width<=991px) {
  .column3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
  }
}
.div9 {
  border-radius: 12px;
  flex-grow: 1;
  width: 100%;
}
@media (width<=991px) {
  .div9 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img3 {
  aspect-ratio: 1.53;
  object-fit: contain;
  object-position: center;
  border-radius: 12px;
  width: 100%;
}
@media (width<=991px) {
  .img3 {
    max-width: 100%;
  }
}
.div10 {
  border: 1px solid #0000002b;
  flex-shrink: 0;
  width: 1300px;
  max-width: 100%;
  height: 1px;
  margin-top: 112px;
}
@media (width<=991px) {
  .div10 {
    margin-top: 40px;
    margin-right: 10px;
  }
}
.lowFidelityWireframesPrototype {
  color: #000;
  align-self: start;
  margin-top: 68px;
  margin-left: 13px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
}
@media (width<=991px) {
  .lowFidelityWireframesPrototype {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div11 {

  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  margin-right: 70px;
}
@media (width<=1291px) {
  .div11 {
    max-width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
  }
}
.img4 {
  aspect-ratio: 1.73;
  object-fit: contain;
  object-position: center;
  width: 853px;
  max-width: 100%;
}
.div12 {
  border: 1px solid #0000002b;
  flex-shrink: 0;
  width: 1300px;
  max-width: 100%;
  height: 1px;
  margin-top: 72px;
}
@media (width<=991px) {
  .div12 {
    margin-top: 40px;
    margin-right: 10px;
  }
}
.highFidelityPrototype {
  color: #000;
  align-self: start;
  margin-top: 73px;
  margin-left: 13px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
}
@media (width<=991px) {
  .highFidelityPrototype {
    margin-top: 40px;
    margin-left: 10px;
  }
}
.div13 {
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  padding-top: 26px;
  margin-right: 70px;
}
@media (width<=1291px) {
  .div13 {
    max-width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
  }
}
.img5 {
  aspect-ratio: 1.76;
  object-fit: contain;
  object-position: center;
  width: 822px;
  max-width: 100%;
}
.div14 {
  border: 1px solid #0000002b;
  flex-shrink: 0;
  width: 1300px;
  max-width: 100%;
  height: 1px;
  margin-top: 90px;
}
@media (width<=991px) {
  .div14 {
    margin-top: 40px;
    margin-right: 10px;
  }
}
.conclusionNextSteps {
  color: #000;
  align-self: start;
  margin-top: 68px;
  margin-left: 13px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 32px;
  font-weight: 700;
}
@media (width<=991px) {
  .conclusionNextSteps {
    margin-top: 40px;
    margin-left: 10px;
  }
}
.div15 {
  border: 1px solid #0000002b;
  flex-shrink: 0;
  max-width: 100%;
  height: 1px;
  margin-top: 119px;
}
@media (width<=991px) {
  .div15 {
    margin-top: 40px;
    margin-right: 10px;
  }
}
.div16 {
  color: #000;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 154px;
  margin-left: 13px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  font-weight: 700;
  display: flex;
}
@media (width<=991px) {
  .div16 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div17 {
  white-space: nowrap;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}
@media (width<=991px) {
  .div17 {
    white-space: initial;
  }
}
.thedesignandprototypeforExclusiveKickseffectivelysupporttheusersgoalofeasilyfindingandpurchasinglimitedEditionsneakersondropdayByincorporatinganintuitivesearchexperienceafastandsecurecheckoutprocessandpersonalizednotificationstheappenhancesthesneakerShoppingjourneyforbothdedicatedcollectorsandcasualbuyersKeyUXandUIdecisionswerefocusedonminimizinguseranxietyaboutmissingdropswhilestreamliningthepurchasingprocessforexclusivereleasesInsightsgatheredfromusertestingplayedacrucialroleinrefiningthedesignensuringauserCenteredexperiencethatmeetstheexpectationsofthetargetaudience {
  color: #000;
  margin-top: -110px;
  margin-left: 0px;
  margin-right: 53px;
  margin-bottom: 90px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  font-weight: 400;
}
@media (width<=991px) {
  .thedesignandprototypeforExclusiveKickseffectivelysupporttheusersgoalofeasilyfindingandpurchasinglimitedEditionsneakersondropdayByincorporatinganintuitivesearchexperienceafastandsecurecheckoutprocessandpersonalizednotificationstheappenhancesthesneakerShoppingjourneyforbothdedicatedcollectorsandcasualbuyersKeyUXandUIdecisionswerefocusedonminimizinguseranxietyaboutmissingdropswhilestreamliningthepurchasingprocessforexclusivereleasesInsightsgatheredfromusertestingplayedacrucialroleinrefiningthedesignensuringauserCenteredexperiencethatmeetstheexpectationsofthetargetaudience {
    max-width: 100%;
    margin-right: 10px;
    margin-top: -29px;
  }
}
.div18 {
  border: 7px solid #000;
  border-radius: 10px;
  align-items: stretch;
  gap: 15px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 18px 23px;
  display: flex;
  background-color: transparent;
  cursor: pointer;
}

.div18:hover {

  background-color: #000;
  color: white;
}


@media (width<=991px) {
  .div18 {
    white-space: initial;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.img6 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 34px;
}
.home {
  margin-top: auto;
  margin-bottom: auto;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.viewCaseStudy {
  color: #fff;
  background-color: #3571b6;
  border-radius: 10px;
  align-self: stretch;
  margin-left: auto;
  padding: 26px 34px;
  font-size: 20px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
}
@media (width<=991px) {
  .viewCaseStudy {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (width<=640px) {
  .viewCaseStudy {
    margin-right: auto;
  }
}
.div19 {
  border: 7px solid #000;
  border-radius: 10px;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-left: auto;
  padding: 18px 26px;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  margin-right: 52px;
}

.div19:hover {

  background-color: #000;
  color: white;
}


@media (width<=991px) {
  .div19 {
    white-space: initial;
    padding-left: 20px;
    margin-left: 0px;
  }
}
@media (width<=640px) {
  .div19 {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: auto;
    margin-right: auto;
    padding-left: 39px;
    display: flex;
  }
}
.next {
  margin-top: auto;
  margin-bottom: auto;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.img7 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 34px;
}
.div20 {
  white-space: nowrap;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}
@media (width<=991px) {
  .div20 {
    white-space: initial;
  }
}
.div21 {
  color: #fff;
  text-align: center;
  background-color: #414b58;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 229px;
  padding: 74px 70px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}
@media (width<=991px) {
  .div21 {
    max-width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.div22 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  max-width: 1136px;
  display: flex;
}
@media (width<=991px) {
  .div22 {
    max-width: 100%;
  }
}
.div23 {
  flex-wrap: wrap;
  align-items: stretch;
  gap: 31px;
  display: flex;
}
.img8 {
  aspect-ratio: 1.15;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 77px;
}
.div24 {
  flex: auto;
  align-items: center;
  gap: 12px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.sebastianQuiroz {
  flex-grow: 1;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}
.div25 {
  border: 1px solid #fff;
  flex-shrink: 0;
  align-self: stretch;
  width: 1px;
  height: 28px;
}
.sebastianqmagmailcom {
  flex-basis: auto;
  align-self: stretch;
  margin-top: auto;
  margin-bottom: auto;
}
.img9 {
  aspect-ratio: 2.42;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  width: 87px;
  margin-top: auto;
  margin-bottom: auto;
}
